ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black
}

li {
    float: left;
    text-decoration: azure;
}
a {
    display: block;
    padding: 8px;
    text-align: center;
    background-color: black;
    text-decoration: rgb(255, 8, 0);
    
}

li a:hover {
   background-color: rgb(255, 252, 240);
}